<h1>Make a new payment!!!!</h1>

<form action="/payments" method="post">
  <p>Enter your Private Key:</p>
  <input type="text" name="private_key"></input>
  <p>Enter the Amount:</p>
  <input type="text" name="amount"></input>
  <input type="submit" value="Submit">
</form>
